Constructor/src/main
Constructor/src/text.txt
DataStructure/.vscode/
DataStructure/main
Search/.vscode/
Search/main
Sort/.vscode/
Sort/main
Test/.vscode/
Test/main
Test/src/Node.o
Test/src/main
.vscode/
